html{
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}

.head{
	width: 80%;
	margin: auto;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	display: flex;
	flex:1;

}
.head h2{
	color:#F02C60;
}
.head a{
text-decoration: none;
	font-size: 18px;
	padding:8px;
	color: #319BC9;
}
.head a:hover{
	text-decoration: none;
	font-size: 18px;
	padding:8px;
	color:white;
	background-color: #319BC9;
	
	
}
/*--Body content----*/
.fo{
	color:#0C655F;
}

main{
	height: 90vh;
	

}
img{
	margin-top: -3%;
	margin-right: 50%;
	width: 50%;
}
.explore-buttons
{
	margin-top: -28%;
	margin-left: 60%;
	width: 20%;
	display: flex;
	flex:1;
	justify-content: space-around;
	
}
.btn {
	--width: 200px;
	--height: 60px;
	border: 0;
	letter-spacing: 0.1rem;
	position: relative;
	min-width: var(--width);
	min-height: var(--height);
	border-radius:1.0rem;
	color: #fff;
	background-color: #009999;
	font-family: "Montserrat";
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 1rem;

	}
	.btn:hover{

		color: black;
	font-size: 14px;
	
	background-color: white;
	color: #53A6A1;
	border:2px solid #0C655F;
	}
	.btn2{
			--width: 200px;
	--height: 60px;
	border: 0;
	letter-spacing: 0.1rem;
	position: relative;
	min-width: var(--width);
	min-height: var(--height);
	border-radius:1.0rem;
	font-family: "Montserrat";
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 1rem;
			color: black;
	font-size: 14px;
	
	background-color: white;
	color: #53A6A1;
	border:2px solid #0C655F;
	}
	.btn2:hover{
color: #fff;
	background-color: #009999;
	}

footer {
  text-align: center;
  width: 100%;
  height: auto;
  background-color: black;
  font-family: "Open Sans";
  padding-top: 10px;
  color: white;
}


.foot {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}

.foot h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.foot p{
  max-width: 500px;
  margin:10px auto;
  line-height: 28px;
  font-size: 14px;
  letter-spacing: .1rem;
  font-size: 16px;

}
.social{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 3rem 0;
}

.social a{
  text-decoration: none;
  color: white;
    display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color:coral;
  transition: all 0.5s ease;
}
.social a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.social a:hover i{
color: aqua;
}
.foot-bottom{
  background:black;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
.foot-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;

}
.foot-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;

}



/*button */

	