html{
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
	 box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.head{
	width: 80%;
	margin: auto;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	display: flex;
	flex:1;

}
.head h2{
	color:#F02C60;
}
.head a{
text-decoration: none;
	font-size: 18px;
	padding:8px;
	color: #319BC9;
}
.head a:hover{
	text-decoration: none;
	font-size: 18px;
	padding:8px;
	color:white;
	background-color: #319BC9;
	
	
}
html {
  background: #faf7f2;
  background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.subtle {
  color: #aaa;
}
main{
  
  margin-left: 10%;
  
}
.main-card--cointainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 500px));
  grid-gap: 20px;
  margin:5px;
  justify-content: center;
 
 
}

.card-container {
  margin: 25px auto 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
}
.info{
  margin-left: 50%;
  margin-top: 60%;
}


.info button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
 
}
.info button:hover{
  background:#fff;
  color:#1AAB8A;
}
.info button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
 .info button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.info button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
.card-container img {
  max-width: 100%;
  height: 300px;
}

.card {
  background-color: white;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
  z-index: 1;
  align-items: flex-end;
}

.card-body {
  display: inline-block;
}

.card-number {
  margin-top: 15px;
}

.card-circle {
  border: 1px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}

.card-author {
  display: block;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 15px 0 0;
  text-transform: uppercase;
  color: maroon;
}
.fo{
	color:#0C655F;
}
.card-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
  text-transform: capitalize;
}

.card-description {
  /* display: inline-block; */
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
}

.card-read {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
}

.card-read:after {
  background-color: #b8bddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 9px;
  width: 75%;
}

.card-tag {
  float: right;
  margin: 5px 0 0;
  border: 1px solid black;
  padding: 5px 10px;
  cursor: pointer;
  color: #cc99ff;
}

.card-tag:hover {
  background: #99ff99;
  color: black;
  border: 0px ;
}

.card-media {
  max-width: 100%;
  height: auto;
}

.card-shadow {
  background-color: #fff;
  box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1),
    0 0 100px 3px rgba(0, 0, 0, 0.25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
}

@media (max-width: 998px) {
  .main-card--cointainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 500px));
    grid-gap: 50px;
    justify-content: space-around;
  }
}
footer {
  text-align: center;
  width: 100%;
  height: auto;
  background-color: black;
  font-family: "Open Sans";
  padding-top: 10px;
  color: white;
}


.foot {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}

.foot h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.foot p{
  max-width: 500px;
  margin:10px auto;
  line-height: 28px;
  font-size: 14px;
  letter-spacing: .1rem;
  font-size: 16px;

}
.social{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 3rem 0;
}

.social a{
  text-decoration: none;
  color: white;
    display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color:coral;
  transition: all 0.5s ease;
}
.social a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.social a:hover i{
color: aqua;
}
.foot-bottom{
  background:black;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
.foot-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;

}
.foot-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;

}
